
.promo-container, .promotion-container, .provider-container {
    margin-bottom: 1rem;
}
.footer-container {
    margin-top: 1.5rem;
}
h3{
    font-weight: $font-weight-regular;
    font-size: $font-size-lg;
    line-height: 2rem;
    color: theme-color("section-bg");
}

.hor-list{
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 0;
    padding-left: 25px;
}
.list{
    list-style-type: none;
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin-left: 0px;

}
ul {
    padding-left: 0;
    list-style-type: none !important;
}
