.promo-banner {
    flex: 1;
    background-color: theme-color("dark-backgroung");
    border-radius: $border-radius-xxlg;
    position: relative;
    box-shadow: $card-box-shadow;

    + .promo-banner {
        margin-left: $grid-gutter-width;
    }
    .banner-info {
        position: absolute;
        padding: 2.5rem 0 2.5rem 2.5rem;
        height: 100%;
        width: 43%;
    }

    .promo-title {
        text-transform: uppercase;
        font-size: $font-size-xlg;
        font-weight: $font-weight-bold;
        color: theme-color("section-bg");
    }

    .promo-description {
        color:theme-color("title");
        font-size: $font-size-md;
        line-height: 1.5rem;
    }

    .promo-button {
        width: 65%;
        font-size: $font-size-md;
        background-color: theme-color("light-green");
        color: theme-color("section-bg");
        font-weight: $font-weight-bold;
        &:hover {
            background-color: theme-color("hover-green");
        }
    }

}