

.sports-link{
    
    display: inline-block;
    position: relative;
    text-decoration: none;

}
.sports {
    padding-right: 1.85rem;
}

.cat-icon {
    line-height: 0;
    font-size: 1.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background:theme-color("dark-backgroung");
    border-radius: 25%;

}

.cat-title{
    color:theme-color("title") ;
    font-size: $font-size-sxs ;
    max-width: 3.5rem;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1rem;
    margin-top: 0.5rem;
    letter-spacing: -0.1px;
}

